<h1>People</h1>
NameBirthdateEdit <% @people.each do |person| %>
<% end %>
<table>
	<thead>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<% @people.each do |person| %>
		<tr>
			<td>
				<a href="<%= "/people/#{person.id}" %>">
					<%= "#{person.first_name} #{person.last_name}" %>
				</a>
			</td>
			<td>
				<%= "#{person.birthdate}" %>
			</td>
			<td>
				<a id="" href="<%= %>">Edit</a>
			</td>
			<td>
				<form action="<%= "/people/#{person.id}" %>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="submit" value="delete">
				</form>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
	
	
